In [ ]:
import matplotlib.pyplot as plt 
SOURCE_FILE_PATH = '../data/2024 - Strat Casestudy.xlsx'

In [ ]:
from loanlib.data_handler import DataLoader, create_features 
loader = DataLoader(SOURCE_FILE_PATH)

In [ ]:
#question 1
df = loader.combined_data_frame
df

In [ ]:
#Question 2
df = create_features(df)
df

In [ ]:
#Question 3
from loanlib.core.curves import CurveBuilder
curves = CurveBuilder(df)
curves.plot('CPR')

In [7]:
df[df['prepayment_date'].notnull()][['prepayment_date','original_balance', 'Payment Made', 'Payment Due', 'outstanding_balance', 'current_balance', 'defaulted_amounts', 'smm']]

                prepayment_date  original_balance  Payment Made  Payment Due  \
ID   Date
1    2016-01-31      2021-08-31            150876           0.0          0.0
     2016-02-29      2021-08-31            150876           0.0          0.0
     2016-03-31      2021-08-31            150876           0.0          0.0
     2016-04-30      2021-08-31            150876           0.0          0.0
     2016-05-31      2021-08-31            150876           0.0          0.0
...                         ...               ...           ...          ...
1615 2022-08-31      2022-06-30             69114           0.0          0.0
     2022-09-30      2022-06-30             69114           0.0          0.0
     2022-10-31      2022-06-30             69114           0.0          0.0
     2022-11-30      2022-06-30             69114           0.0          0.0
     2022-12-31      2022-06-30             69114           0.0          0.0

                 outstanding_balance  current_balance  defaulted_amounts  smm
ID   Date
1    2016-01-31             150876.0         150876.0                0.0  0.0
     2016-02-29             150876.0         150876.0                0.0  0.0
     2016-03-31             150876.0         150876.0                0.0  0.0
     2016-04-30             150876.0         150876.0                0.0  0.0
     2016-05-31             150876.0         150876.0                0.0  0.0
...                              ...              ...                ...  ...
1615 2022-08-31                  0.0              0.0                0.0  NaN
     2022-09-30                  0.0              0.0                0.0  NaN
     2022-10-31                  0.0              0.0                0.0  NaN
     2022-11-30                  0.0              0.0                0.0  NaN
     2022-12-31                  0.0              0.0                0.0  NaN

[24864 rows x 8 columns]

In [8]:
#Question 4
curves.curve('CDR')

/Users/charlielao/PycharmProjects/ElliottCaseStudy/loanlib/core/curves.py:38: FutureWarning: A grouping was used that is not in the columns of the DataFrame and so was excluded from the result. This grouping will be included in a future version of pandas. Add the grouping as a column of the DataFrame to silence this warning.
  resulting_df = transformed_df.groupby(index, as_index=False)[metric_name].sum()

           mdr
seasoning
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
...        ...
162        0.0
163        0.0
164        0.0
165        0.0
166        0.0

[167 rows x 1 columns]

In [9]:
#Question 5
curves.curve('Recovery')

/Users/charlielao/PycharmProjects/ElliottCaseStudy/loanlib/core/curves.py:38: FutureWarning: A grouping was used that is not in the columns of the DataFrame and so was excluded from the result. This grouping will be included in a future version of pandas. Add the grouping as a column of the DataFrame to silence this warning.
  resulting_df = transformed_df.groupby(index, as_index=False)[metric_name].sum()

           recovery
seasoning
0               0.0
1               0.0
2               0.0
3               0.0
4               0.0
...             ...
162             0.0
163             0.0
164             0.0
165             0.0
166             0.0

[167 rows x 1 columns]

In [10]:
#Question 6
curves2 = CurveBuilder(df, index='time_to_reversion', pivots=['product'])
curves2.curve('CPR')

product              1    2
time_to_reversion
-59                0.0  0.0
-58                0.0  0.0
-57                0.0  0.0
-56                0.0  1.0
-55                0.0  0.0
...                ...  ...
 103               0.0  0.0
 104               0.0  0.0
 105               0.0  0.0
 106               0.0  0.0
 107               0.0  0.0

[167 rows x 2 columns]

In [11]:
#Question 7
curves3 = CurveBuilder(df, index='year_of_default')
curves3.curve('Recovery')

/Users/charlielao/PycharmProjects/ElliottCaseStudy/loanlib/core/curves.py:38: FutureWarning: A grouping was used that is not in the columns of the DataFrame and so was excluded from the result. This grouping will be included in a future version of pandas. Add the grouping as a column of the DataFrame to silence this warning.
  resulting_df = transformed_df.groupby(index, as_index=False)[metric_name].sum()

                    recovery
year_of_default
0                1737.034846
1                1125.843777

In [12]:
#Question 8
#don't quite understand the question

In [13]:
#Question 9
from loanlib.core.mortgage_cashflow_model import run_single_simulation, run_simulations, BASE_CONFIG
run_single_simulation()

,expected_opening_performing_balance,expected_prepayments,expected_recoveries,expected_closing_performing_balance,expected_balance_post_period_defaults,survival_percentage_post_default,expected_new_defaults,expected_loss,opening_balance,defaults,...,scheduled_payment,end_of_period_survival,remaining_term,principal_balloon,interest_rate,scheduled_interest,expected_opening_default_balance,scheduled_principal,expected_scheduled_payment,expected_interest
0,1.000000e+05,1.679313e+02,0.000000e+00,9.966385e+04,9.983179e+04,0.998318,1.682143e+02,0.000000e+00,100000.0,1.682143e+02,...,328.333333,0.996639,178.0,0.0,0.0394,328.333333,0.000000e+00,-5.684342e-14,327.781030,327.781030
1,9.966385e+04,1.673668e+02,0.000000e+00,9.932884e+04,9.949621e+04,0.994962,1.676488e+02,0.000000e+00,100000.0,1.676488e+02,...,328.333333,0.993288,177.0,0.0,0.0394,328.333333,1.682143e+02,-5.684342e-14,326.679209,326.679209
2,9.932884e+04,1.668042e+02,0.000000e+00,9.899495e+04,9.916175e+04,0.991618,1.670853e+02,0.000000e+00,100000.0,1.670853e+02,...,328.333333,0.989949,176.0,0.0,0.0394,328.333333,3.358631e+02,0.000000e+00,325.581091,325.581091
3,9.899495e+04,1.662435e+02,0.000000e+00,9.866218e+04,9.882843e+04,0.988284,1.665236e+02,0.000000e+00,100000.0,1.665236e+02,...,328.333333,0.986622,175.0,0.0,0.0394,328.333333,5.029483e+02,5.684342e-14,324.486665,324.486665
4,9.866218e+04,1.656847e+02,0.000000e+00,9.833053e+04,9.849622e+04,0.984962,1.659639e+02,0.000000e+00,100000.0,1.659639e+02,...,328.333333,0.983305,174.0,0.0,0.0394,328.333333,6.694719e+02,0.000000e+00,323.395917,323.395917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,6.859612e-12,1.151944e-14,9.419465e-15,6.836554e-12,6.848073e-12,0.000000,1.153885e-14,2.354866e-15,0.0,1.153885e-14,...,0.000000,0.000000,0.0,0.0,0.0944,0.000000,-1.192802e-12,0.000000e+00,0.000000,0.000000
196,6.836554e-12,1.148071e-14,9.387802e-15,6.813573e-12,6.825054e-12,0.000000,1.150006e-14,2.346951e-15,0.0,1.150006e-14,...,0.000000,0.000000,0.0,0.0,0.0944,0.000000,-1.193038e-12,0.000000e+00,0.000000,0.000000
197,6.813573e-12,1.144212e-14,9.356246e-15,6.790669e-12,6.802111e-12,0.000000,1.146140e-14,2.339061e-15,0.0,1.146140e-14,...,0.000000,0.000000,0.0,0.0,0.0944,0.000000,-1.193273e-12,0.000000e+00,0.000000,0.000000
198,6.790669e-12,1.140366e-14,9.324795e-15,6.767843e-12,6.779246e-12,0.000000,1.142287e-14,2.331199e-15,0.0,1.142287e-14,...,0.000000,0.000000,0.0,0.0,0.0944,0.000000,-1.193507e-12,0.000000e+00,0.000000,0.000000
199,6.767843e-12,1.136533e-14,9.293450e-15,6.745093e-12,6.756458e-12,0.000000,1.138448e-14,2.323363e-15,0.0,1.138448e-14,...,0.000000,0.000000,0.0,0.0,0.0944,0.000000,-1.193740e-12,0.000000e+00,0.000000,0.000000

In [14]:
import time
starting_time = time.time()
run_simulations([{}]*int(1e4))
print(time.time()-starting_time)

14.813985109329224

In [ ]:
#Qurstion 10
base_curves = CurveBuilder(SOURCE_FILE_PATH)
base_cpr = base_curves.curve('CPR')
base_cdr = base_curves.curve('CDR')
config1 = {'cpr': base_cpr, 'cdr':base_cdr}